[*.cs]

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# Purpose: Use an overload that has a IEqualityComparer<string> or IComparer<string> parameter
# Reason: Not important in tests
dotnet_diagnostic.MA0002.severity = none

# File name must match type name. Too many purposeful violations.
dotnet_diagnostic.MA0048.severity = none

# Mark local variable as const.
dotnet_diagnostic.RCS1118.severity = none